<!DOCTYPE HTML>
<html>
	<head>
		<title>Filo-So-Far</title>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'blog/assets/css/main.css' %}" />
		<link rel="icon" type="image/gif" href="{% static 'blog/images/QW_icon.png' %}">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			{% block header %}
			{% endblock %}


			<!-- Menu -->
			{% block menu %}
			{% endblock %}


			<!-- Main -->
			<div id="main">

			   {% block main %}
			   {% endblock %}

			</div>

			{% block sidebar %}
			{% endblock %}

		</div>

		<!-- Scripts -->
		<script src="{% static 'blog/assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'blog/assets/js/browser.min.js' %}"></script>
		<script src="{% static 'blog/assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 'blog/assets/js/util.js' %}"></script>
		<script src="{% static 'blog/assets/js/main.js' %}"></script>

	</body>
</html>
